{% extends '::base_backend.html.twig' %}

{% block body %}
<!DOCTYPE html>
<div class="text-center">
    <div class="span6">
        <div class="alert alert-danger fade in">
            <strong>Advertencia!</strong> Ocurrió un error en el servidor, por favor comuniquese con el administrador.
        </div>
    </div>
</div>
{% endblock %}
