{% extends 'AgpBundle:Default:_layout.html.twig' %}
{% form_theme form 'CoreBundle:Form:form.html.twig' %}

{% block contenido %}
  <div class="row-fluid">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">       
          <div class="x_title">
            <h2>Editar producto</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <form accept-charset="UTF-8" class="form-horizontal form-label-left" enctype="multipart/form-data" method="post" action="{{ path('producto_edit') }}">
              {{ form_widget(form) }}
              <div class="ln_solid"></div>              
              
               <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <a href="{{ path('producto') }}" class="guardar btn btn-primary">Volver</a>
                      <input type="submit" class="guardar btn btn-success" value="Guardar" />
                    </div>
                </div>
            </form>  
          </div>
      </div>
    </div>
  </div>
                
                              
{% endblock %}
