{% extends 'AgpBundle:Default:_layout.html.twig' %}

{% block contenido %}
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Datos del Cliente</h2>
                 <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ entity.nombre }}
            </div>
        </div>
    </div>
  </div>

{% endblock %}