<div class="clearfix form-actions">
    <div class="text-center">
        <a class="btn btn-info" style="color: white;" href="{{ path(path) }}">
            <i class="fa fa-arrow-circle-left"></i>
            Volver
        </a>
        <a class="btn btn-info" style="color: white;" href="{{ path(path~'_edit', { 'id' : id }) }}">
            <i class="fa fa-check-circle bigger-110"></i>
            Editar
        </a>
    </div>    
</div>